<h1 style="color: blue">Create Container</h1>

<form method="post">
    <label>Container name: </label>
    <input type="text" name="containername" placeholder="Container name" class="form-control" /><br />
    <button type="submit" class="btn btn-info">Create</button>
</form>